# Dependencies
node_modules/

# Build
dist/
.angular/
tmp/
out-tsc/
bazel-out/

# IDE
.idea/
.vscode/*
!.vscode/extensions.json
!.vscode/launch.json
!.vscode/tasks.json

# System
.DS_Store
Thumbs.db

# Environment
.env
.env.*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Test coverage
coverage/
